<p>Quotes should be listed on this page</p>

<p>It should be something like this. For example:</p>

<div class="row">
  <div class="small-9 small-centered columns">
    <q>
      Somebody told me how frightening it was how much topsoil we are losing
      each year, but I told that story around the campfire and nobody got scared.
    </q>
    <p>&mdash; <a href="#">Jack Handey</a></p>
    <p>Submitted by Bob Jones</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="small-9 small-centered columns">
    <q>
      Broken promises don't upset me. I just think, why did they believe me?
    </q>
    <p>&mdash; <a href="#">Jack Handey</a></p>
    <p>Submitted by Bob Jones</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="small-9 small-centered columns">
    <q>
      If trees could scream, would we be so cavalier about cutting them down? We
      might, if they screamed all the time, for no good reason.
    </q>
    <p>&mdash; <a href="#">Jack Handey</a></p>
    <p>Submitted by Bob Jones</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="small-9 small-centered columns">
    <q>
      All the world's a stage, and all the men and women merely players: they
      have their exits and their entrances; and one man in his time plays many
      parts, his acts being seven ages.
    </q>
    <p>&mdash; <a href="#">William Shakespeare</a></p>
    <p>Submitted by Nancy Johnson</p>
  </div>
</div>
